<section id="about-me">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div class="thumbnail about-me-photo">
        <img src="{{ site.image-path }}{{ site.about-me-image | relative_url }}" class="img-responsive" alt="about me photo">
      </div>
    </div>
    <div class="col-xs-12 col-sm-7">
      <script src="https://gist.github.com/Ioannis-Nikop/d77401c03a2d271eb3c7ab83af70cfad.js"></script>
    </div>
  </div>
  <script src="https://gist.github.com/Ioannis-Nikop/dde902c1e87575289ccd6bdd85b606ee.js"></script>
</section>
