@charset "utf-8";

$web-font-path: "https://fonts.googleapis.com/css?family=Ubuntu:400,700" !default;
@import url($web-font-path);

// Define Theme Variables
$content-top-size: 60px !default;
$spacing-unit:     20px !default;

// Import partials.
@import
  "theme/base",
  "theme/header",
  "theme/content",
  "theme/aside",
  "theme/footer",
  "theme/search",
  "theme/syntax-highlighting"
;
