---
layout: default
---
<section id="post-list">
  <div class="container-fluid home">
    <div class="row">

      {{ content }}

      <!-- This loops through the paginated posts -->
      {% for post in paginator.posts %}
        <div class="col-sm-6">
          <div class="home-post thumbnail">
            <div class="featured-image" style="background-image:url({{ site.image-path | relative_url }}/{{ post.image-folder }}/{{ post.featured-image }})">
            </div>
            <div class="caption clearfix">
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <a class="post-link" href="{{ post.url | relative_url }}">
                <h4>{{ post.title | escape_once }}</h4>
              </a>
              <p>{{ post.excerpt }}</p>
              <p><a href="{{ post.url | relative_url }}" class="btn btn-primary pull-right" role="button">Read More</a></p>
            </div>
          </div>
        </div>
      {% endfor %}

      <!-- Pagination links -->
      {% include paginator.html %}

    </div>
  </div>
</section>
